*⁠{  
    font-family: "Roboto", sans-serif;
}
#top-bar {
    font-size: 12px; 
    color: #898989;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#top-bar-left {
    display: flex;
    justify-content: left;
    gap: 30px;
}
#top-bar-right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
#bahasa {
    color: #ed2324 ;
}
ul {
    list-style-type: none;
}
#top-bar ul li:hover {
    color: #ed2324;
}
#top-bar ul li {
    display: inline-block; 
    margin-left: 10px;
}
#navigation-bar      {
    color: black;
    display: flex;
    justify-content:space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    cursor: pointer;
}
#navigation-bar-left {
    display: flex;  
    gap: 20px;
}
#navigation-bar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
#navigation-bar ul li:hover {
    color: #ed2324;
}
#button-masuk {
    background-color: #ED1C24;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}
#button-daftar {
    background-color: white;
    padding: 10px 40px;
    border-radius: 30px;
    color: #ED1C24;
    border: 1px solid #ED1C24;
    cursor: pointer;
}
#search {
    background-color: rgb(247, 245, 245);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:none ;
    cursor: pointer;
}
#main-picture {
    img { 
width: fit-content;
height: fit-content;
    }
}
#product-catalog-items {
    display: flex;
    justify-content:space-between;
    margin-right: 40px;
}
#product-catalog-cari {
    display: flex;
    justify-content: center;
}
#product-catalog-sim {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
#product-catalog-aktivasi {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
#product-catalog-beli {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
#product-catalog-isiulang {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
#content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 100px;
    gap: 50px;
}
#button-content {
    background-color: #ED1C24;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}
#content-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 100px;
    gap: 50px;
}
#content-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 100px;
    gap: 50px;
}