* {  
    font-family: "Roboto", sans-serif;
}
#top-bar {
    font-size: 12px; 
    color: #898989;
    /* text-align: right; */
}
#top-bar-left {
    text-align: left ;
}
#top-bar-right {
    text-align:right;
}
#bahasa {
    color: #ed2324 ;
}
ul {
    list-style-type: none;
}
#top-bar ul li:hover {
    color: #ed2324;
}
#top-bar ul li {
    /* width: fit-content ; */
    display: inline-block; 
    margin-left: 10px;
}
#top-bar ul {
    /* width: fit-content ;  */
    display: inline;

}